.music-library {
    width: 20rem;
    background-color: #121212;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.25rem;
}


.header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.icon {
    font-size: 1.5rem;
}

.title {
    margin-left: 0.5rem;
    font-size: 1.25rem;
}

.actions {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.filters {
    display: flex;
    margin-bottom: 1rem;
}

.filter-button {
    background-color: #4B5563; /* Tailwind's bg-gray-700 */
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 9999px;
    margin-right: 0.5rem;
}

.search-recent {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.recent {
    margin-left: auto;
}

.library-items {
    display: flex;
    flex-direction: column;
    gap: 0.2rem; /* 通过设置较小的间距，使项目之间的间距更小 */
    overflow-y: auto;
}

.item {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.item:hover {
    background-color: #1F1F1F; /* Tailwind's bg-gray-800 */
}

.item:active {
    background-color: #000000; /* Tailwind's bg-black */
}

.album-cover {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
}

.item-info {
    margin-left: 1rem;
}

.liked-songs-text {
    color: #10B981; /* Tailwind's text-green-400 */
}

.item-details {
    color: #9CA3AF; /* Tailwind's text-gray-400 */
}
