html, body, #root, .App {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* 禁用垂直和水平滚动 */
    background-color: black;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}


