.main-content {
    background-color: #121212;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: auto; /* 显示滚动条 */
}

.main-content::-webkit-scrollbar {
    display: none; /* 默认情况下隐藏滚动条 */
}
